.custom-card{
    /* min-height: 100%; */
    min-width: fit-content;
    padding: 25px 25px;
    border-radius: 10px;
    border: 1px solid var(--backgroundColor);
    background-color:  var(--backgroundLightColor);
    color: var(--textColor);
}

.summary{
    width: 200px;
    max-width: 200px;
    min-width: fit-content;
    height: 100px;
    background-color: var(--widgetContainerColor);
    border: 1px solid var(--backgroundDimmerColor);
    border-radius: 10px;
}

.summary small {
    color: rgb(186, 186, 186);
}

.chart{
    border-radius: 10px;
}

.fg-color-custom{
    background-color: var(--widgetContainerColor);
}

.table-container{
    background-color:  var(--widgetContainerColor)!important;
    padding: 10px;
}
.table{
    background-color:  var(--widgetContainerColor);
    color: white!important;
    border-color: var(--backgroundLightColor);
}