@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primaryColor  : blue;
  --secondaryColor: rgb(154, 154, 154);
}

::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(92, 92, 92);
}

body {
  height                 : 100vh;
  width                  : 100vw;
  margin                 : 0;
  font-family            : 'Montserrat', sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color       : aliceblue;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
}

.vertical-scroll{
  overflow-y: scroll;
}